<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
  <meta charset="utf-8">
  <title>Clothing Retailer</title>
  <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="public/css/styles.css">
  <script src="public/bower_components/jquery/dist/jquery.js"></script>
  <script src="public/bower_components/angular/angular.js"></script>
  <script src="public/bower_components/angular-resource/angular-resource.js"></script>
  <script src="public/bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="public/app.js"></script>
  <script src="public/controllers/storeController.js"></script>
</head>
<body ng-controller="storeController">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">K Shop</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Women's <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Men's</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>

  <li role="presentation" class="active"><a href="#">Basket <span id="nav-basket" class="badge glyphicon glyphicon-shopping-cart">{{store.basketTotal | currency:'£'}}</span></a></li>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="alert" ng-show="store.errorMessage">
  <h3>Voucher not valid</h3>
</div>
<div class="alert" ng-show="store.voucherError">
  <h3>Voucher already used</h3>
</div>
<div class="panel panel-default">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Item</th>
      <th>Price<a ng-click="predicate = 'price'; reverse">%</a><a ng-click="predicate = 'price'; reverse=!reverse">^</a></th>
      <th>Category</th>
    </tr>
    <tr id="clothing" ng-repeat="product in products |  orderBy:predicate:reverse">
      <td id="name">{{ product.name }}</td>
      <td id="price">{{ product.price | currency:'£' }}</td>
      <td id="category">{{ product.category }}</td>
      <td><button ng-show="product.inStock" ng-click="addToBasket($index)">Add to basket</button><button ng-show="product.soldOut">Sold out</button></td>
    </tr>
  </table>
</div>
<div>
  <h4>Basket</h4>
  <ul>
    <li id="basket-contents" ng-repeat="(index, content) in store.basket track by $index">{{ content.name }}</li>
    <li id="basket-total">Total: {{ store.basketTotal | currency:'£' }}</li>
    <button class="btn btn-default five-voucher" ng-click="store.applyFiveVoucher(store.basketTotal)">£5.00 voucher</button>
    <button class="btn btn-default ten-voucher" ng-click="store.applyTenVoucher(store.basketTotal)">£10.00 voucher</button>
    <button class="btn btn-default fifteen-voucher" ng-click="store.applyFifteenVoucher(store.basketTotal)">£15.00 voucher</button>
  </ul>
</div>
</body>
</html>