<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
  <meta charset="utf-8">
  <title>Clothing Retailer</title>
  <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="public/css/styles.css">
  <script src="public/bower_components/jquery/dist/jquery.js"></script>
  <script src="public/bower_components/angular/angular.js"></script>
  <script src="public/bower_components/angular-resource/angular-resource.js"></script>
  <script src="public/bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="public/app.js"></script>
  <script src="public/controllers/storeController.js"></script>
</head>
<body ng-controller="storeController as store">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">K Shop</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Women's <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Men's</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>


  <li role="presentation" class="active"><a href="#">Basket <span id="nav-basket" class="badge glyphicon glyphicon-shopping-cart">{{store.basketTotal | currency:'£'}}</span></a></li>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
<div class="col-sm-8 products">
<div class="alert alert-danger" role="alert" ng-show="store.errorMessage">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3>Voucher not valid</h3>
</div>
<div class="alert alert-danger" role="alert" ng-show="store.voucherError">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3>Voucher already used</h3>
</div>

<div class="col-sm-6 col-md-4" ng-repeat="product in store.products">
    <div class="thumbnail">
      <img class="image" ng-src="{{ product.image }}">
        <div class="caption">
          <h3 id="name">{{ product.name }}</h3>
          <p id="price">{{ product.price | currency:'£' }}</p>
          <p id="category">{{ product.category }}</p>
          <p><a href="#" class="btn btn-primary add" role="button" ng-show="product.inStock" ng-click="store.addToBasket(product)">Add to basket</a></p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-4 basket">
<div class="panel panel-default">
  <div class="panel-heading">
  <h4 class="">Basket</h4>
</div>
<div class="panel-body">
<table class="table" id="basket-contents" ng-repeat="(index, content) in store.basket track by $index">
  <tr>
  <td>{{ content.name }}</td>
   <td><button class="remove" ng-click="store.removeFromBasket(product)">Remove</button></td>
    <td id="basket-total">Total: {{ store.basketTotal | currency:'£' }}</td>
    </tr>
    </table>
    <ul>
    <li><button class="btn btn-default five-voucher" ng-click="store.applyFiveVoucher(store.basketTotal)">£5.00 voucher</button></li>
    <li><button class="btn btn-default ten-voucher" ng-click="store.applyTenVoucher(store.basketTotal)">£10.00 voucher</button></li>
    <li><button class="btn btn-default fifteen-voucher" ng-click="store.applyFifteenVoucher(store.basketTotal)">£15.00 voucher</button></li>
    </ul>



  </table>
</div>
</div>
</div>
</div>
</body>
</html>