<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
  <meta charset="utf-8">
  <title>Clothing Retailer</title>
  <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="public/bower_components/jquery/dist/jquery.js"></script>
  <script src="public/bower_components/angular/angular.js"></script>
  <script src="public/bower_components/angular-resource/angular-resource.js"></script>
  <script src="public/bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="public/app.js"></script>
  <script src="public/controllers/storeController.js"></script>
</head>
<body ng-controller="storeController as store">
<div class="panel panel-default">
  <div class="panel-heading">Clothes List</div>
  <table class="table table-bordered table-hover">
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
    <tr id="clothing" ng-repeat="product in store.products">
      <td id="name">{{product.name}}</td>
      <td id="price">{{product.price | currency:'£' }}</td>
      <td id="category">{{product.category }}</td>
      <td><button ng-show="product.inStock">Add to basket</button><button ng-show="product.soldOut">Sold out</button></td>
    </tr>
  </table>
  </div>
</div>
</body>
</html>